body {
  font-family: Arial,sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
}

table {
  margin: 15px auto;
  border: solid 1px #ddd;
  border-collapse: collapse;
  position: relative;
  left: -350px;
}

th {
background: #eee;
}

th,td {
  padding: 7px;
}

.youbi_0 {
  color: red;
}


.youbi_6 {
  color: blue;
}
.national_holiday {
  color: red;
  background-color:pink;
}
.today {
  font-weight: bold;
}
.gray {
  color: #dedede;
}
